<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">UniSpy</h3>
</div>


<ul>
<li ng-repeat="entry
 in entries | filter:onlyUnicafe">
  <div>
    <p>
      {{entry.campus}}
    </p>
    <p>
      {{entry.name}}
    </p>
    <p>
      <ul>
        <li ng-repeat="day in entry.meals.fi">
          {{days[$index]}}
          <ul>
            <li ng-repeat="meal in day">

              {{meal}}
           </li>
          </ul>   
        </li>
      </ul>
    </p>  
  </div>   
</li>
</ul>
