
  <button ng-if="!taggedOnly" class="btn btn-primary" ng-click="toggleTagged.()">Only display tagged</button>
  <button ng-if="taggedOnly" class="btn btn-primary" ng-click="toggleTagged.()">Display all</button>
  <tabset>
    <tab ng-repeat="entry in entries | filter:onlyUnicafe" heading="{{entry.name}}">
      <ul>
        <li ng-repeat="day in entry.meals.fi | filter:hasMeals">
          {{days[$index]}}
          <ul>
            <li ng-repeat="meal in day | filter:shouldDisplay">
              <span ng-class="{hilight:isTagged(meal)}">
                {{meal}}
              </span>
           </li>
          </ul>   
        </li>
      </ul>
    </tab>
  </tabset>
