<ul>
<li ng-repeat="recommendation
 in recommendations | filter:onlyUnicafe">
  <div>
    <p>
      {{recommendation.campus}}
    </p>
    <p>
      {{recommendation.name}}
    </p>
    <p>
      <ul ng-if="recommendation.meals!==undefined">
        <li ng-repeat="day in recommendation.meals.fi">
          {{days[$index]}}
          <ul>
            <li ng-repeat="meal in day">
              <div ng-if="isTagged(meal)">
                <b>
                  {{meal}}
                </b>
              </div>
              <div ng-if="!isTagged(meal)")>
                {{meal}}
              </div>
           </li>
          </ul>   
        </li>
      </ul>
    </p>  
  </div>   
</li>
</ul>
